.idea/
*.iml
build/
.gradle/
out/
log/
electron-src/node_modules/
electron-src/electron-vaadin/
bin/main/resources/logback.xml
bin/main/org/strangeway/electronvaadin/

# Standard Vaadin ignores
node_modules/
webpack.generated.js
target/
node/

# macOS folder custom attributes
.DS_Store

# VSCode
.classpath
.project
.settings/
.vscode/
